.content-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
}


.container-form-view {
    color: black;
    //width: 400px;
    height: 500px;
    
     

}

.head-form-view {
    margin-bottom: 50px;
}

.form-view {
    display: flex;
      
    //background-color: aqua;
    //width: 600px;
    height: 650px;
    gap: 20px;
}

.dp-form-view{
    margin-bottom: 10px;

}

.div-btn-view {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: end;
}

.div-btn-view button{
    width: 100px;
    height: 40px; 
    border-radius: 8px; 
    border: 1px solid #a09c9c;
    color: #fff; 
    font-weight: 600;
}

.btn-form-view-edit {
        background-color: dodgerblue;
}

.btn-form-view-close {
    background-color: rgb(211, 0, 0);
}