@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.img-btn-client img{
    display: flex;
    justify-content: center;
    width: 60px;
    align-items: center;
}

.home {    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-auto-flow:dense;
    
    

    .box {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $soft-bg;
        border: none;
        box-shadow: 5px 5px 5px 0px rgba(186,186,186,1);
    }

    .box1 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #0082CA;
        box-shadow: 5px 5px 5px 0px rgba(186,186,186,1);
        font-size: 30px;
        p:hover {
            font-weight: bold;
            transition: 0.2s;
        }
        .agendamento {
            cursor: pointer;
        }
        .btn-client img{
            width: 200px;
        }
    }

    .box2 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #F4921F;
        box-shadow: 5px 5px 5px 0px rgba(186,186,186,1);
        font-size: 30px;
    }

    .box3 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #3CC763;
        box-shadow: 5px 5px 5px 0px rgba(186,186,186,1);
        font-size: 25px;
    }

    .box4 {
        grid-column: span 1;
        grid-row: span 1;
        background-color: #E3BF3A;
        box-shadow: 5px 5px 5px 0px rgba(186,186,186,1);
        font-size: 30px;
        .agendamento {
            cursor: pointer;
        }
    }

    

    .box5{
        grid-column: span 3;
        grid-row: span 3;
        background-color: #fff;
        color: #000;        
    }
    .agdia{
        color: #0082CA;
    }
    
    .box6 {
        @include md {
            display: none;
        }
        grid-column: span 1;
        grid-row: span 3;
        background-color: #fff;

        .box6-container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(110px, auto);
            color: #373737;
            
            .calendar {
                grid-column: span 2;
                grid-row: span 2;
                border-radius: 10px;
                padding: 10px;
                border: 2px solid #E8F1F4;
            }

            .osaberta {
                border-radius: 10px;
                padding: 10px;
                border: 2px solid #E8F1F4;
            }

            .osfechada {
                border-radius: 10px;
                padding: 10px;
                border: 2px solid #E8F1F4;
            }

            .receita {
                border-radius: 10px;
                padding: 10px;
                border: 2px solid #E8F1F4;
                display: flex;
                
            }

            .despesa {
                border-radius: 10px;
                padding: 10px;
                border: 2px solid #E8F1F4;
                
            }
            .div-logo-receita{
                
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            .logo-receita {
                 width: 40px;
                 height: 40px;
            }
            .div-icone-receita {
                display: flex;
                margin-top: 10px;
            }
            .div-icone-receita h4{
                margin-top: 20px;
            }
            .div-logo-despesas {
                display: flex;
                margin-top: 10px;
            }
            .div-logo-despesas h4{
                margin-top: 20px;
            }

            .icon-despesa {
                width: 40px;
            }
            .osfechada h1{
                color: rgb(161, 7, 7);
                margin-top: 10px;
            }
            .osaberta h1{
                color: darkgreen;
                margin-top: 10px;
            }            
        }
    }
}
.fc-toolbar-title {
    
}


@media screen and (max-width: 500px) {
      
    /*Estilo página index - pincipal*/
    
    
    .fc .fc-toolbar-title {
        font-size: 1.1em;
        margin: 0;
    }
      

    /*Estilo página Admin*/

    .fc .fc-col-header-cell-cushion {
        display: inline-block;
        padding: 2px 4px;
        font-size: 12px;
    }

    .home {    
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        //grid-auto-flow:dense; 
        align-items: center;
        justify-content: center;
    }

    .box {
        
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $soft-bg;
        border: none;
        box-shadow: 5px 5px 5px 0px rgba(186,186,186,1);
    } 

    .box1 {
        width: 150px;
        height: 100px;
    }
    .box2{
        width: 150px;
        height: 100px;
    }
        
    .box3 {
        width: 150px;
        height: 100px;
    }
        
    .box4 {
        width: 150px;
        height: 100px;
    }

    .box5 {
        
        width: 100%;
    }
    

    .box6 {
        
    }
  }

  

  